.profile-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
    color: #c9d1d9;
}

.user-avatar {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px 0;
} 

.user-name {
    text-decoration: none;
    color: #c9d1d9;
}

.user-name:hover {
    color: #8b949e;
}

.user-login {
    color: #8b949e;
}

.user-bio {
    color: #c9d1d9;
    margin: 20px 0;
}

.user-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stat {
    color: #c9d1d9;
    margin: 0 5px;
}

.stat span {
    color: #8b949e;
}

.user-location {
    margin: 20px 0;
}