$primaryColor: #0d1117;
$secondaryColor: #21262d;
$textColor: #c9d1d9;
$secondaryTextColor: #848d97;

ul {
    padding: 0.5rem;
    width: 90%;
    list-style: none;
    height: 50dvh;
    overflow-y: scroll;
}