.repos-container {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.repos-list {
    list-style: none;
    overflow-y: auto;
}

.repo-item {
    width: 90%;
    padding: 0.9rem;
    margin: 10px 0;
    border-bottom: solid 0.1px #8b949e;
}

.repo-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.repo-name-container p {
    margin-left: 10px;
    color: #8b949e;
    border: solid 1px #8b949e;
    font-size: 1rem;
    padding: 0 7px;
    border-radius: 50px;
}

.repo-name {
    color: #58acff;
    text-decoration: none;
    font-size: 1.5rem;
}

.repo-name:hover {
    text-decoration: underline;
}

.repo-description {
    font-size: 1rem;
    margin: 10px 0;
    color: #8b949e;
}

.repo-language {
    font-size: 0.9rem;
    margin-top: 15px;
    color: #8b949e;
}

.input-repository {
    width: 90%;
    border-radius: 6px;
}

@media (max-width: 800px) {
    .repos-container {
        width: 80%;
        height: auto;
    }
}